$OrangeHover : #EFA501;

$OrangeActive : #F8E6BE;

$BlackText : #1B1F2B;

$GreenHover : #286562;

$GreenActive : #3B7E7B;

$GraySubtitle : #A6A6A6;

$BackgroundColor : #F9F7F4;

$BorderInput : #F9F7F4;

$InputHover : #F4F0E9;

$GreenMin : #E0F0E5;

$GreenBtn : #627F7E;

$GrayBtn : #D9DFDB;
